@media (prefers-color-scheme: dark) {
    :root {
        --fgPrimary: #f8f9fa;
        --fgSecondary: #e4e4e4;
        --bgPrimary: #343a40;
        --bgSecondary: #495057;
        --bgTertiary: #023c75;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --fgPrimary: #212529;
        --fgSecondary: #495057;
        --bgPrimary: #f8f9fa;
        --bgSecondary: #e9ecef;
        --bgTertiary: #dee2e6;
    }
}

@media screen {
    @media (min-width: 320px) {
        :root {
            --main-flex-direction: column;
            --main-align-items: center;
            --main-width: 90%;
            --main-height: fit-content;
            --main-pading: 0.1rem;
            --img-width: 50%;
            --header-font-size: 8vw;
            --p-font-size: 6vw;
        }
    }
    @media (min-width: 576px) {
        :root {
            --main-pading: 1rem;
            --img-width: 50%;
            --header-font-size: 7vw;
            --p-font-size: 5vw;
        }
    }
    @media (min-width: 700px) {
        :root {
            --img-width: 40%;
            --header-font-size: 6vw;
            --p-font-size: 4vw;
        }
    }
    @media (min-width: 850px) {
        :root {
            --main-flex-direction: row;
            --main-align-items: center;
            --main-justify-content: center;
            --main-height: 100vh;
            --main-pading: 1.2rem;
            --img-width: 80%;
            --header-font-size: 5vw;
            --p-font-size: 3vw;
        }
    }
    @media (min-width: 1200px) {
        :root {
            --main-pading: 2rem;
            --header-font-size: 3.5vw;
            --p-font-size: 1.5vw;
        }
    }
    @media (min-width: 1921px) {
        :root {
            --main-flex-direction: row;
            --main-align-items: center;
            --main-justify-content: center;
            --main-width: 100%;
            --main-pading: 3rem;
            --img-width: 90%;
            --header-font-size: 3vw;
            --p-font-size: 1.5vw;
        }
    }
}

:root {
    --bgInformation: #007bff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    line-height: 1.5;
    color: var(--fgPrimary);
    background-color: var(--bgPrimary);
    overflow-x: hidden;
}

main {
    display: flex;
    flex-direction: var(--main-flex-direction);
    align-items: var(--main-align-items);
    justify-content: var(--main-justify-content);
    width: 100%;
    height: var(--main-height);
    padding: var(--main-pading);
}

.App-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    margin-top: 1rem;
    width: var(--main-width);
    pointer-events: none;
    user-select: none;
}

.App-intro > * {
    user-select: none;
    pointer-events: none;
}

.App-intro > img {
    width: var(--img-width);
    max-width: 400px;
    margin-bottom: 1rem;
    border-radius: 50%;
    border: 3px solid var(--fgSecondary);
}

.App-intro > h1
{
    font-size: var(--header-font-size);
}
.App-intro > p {
    font-size: var(--p-font-size);
}

.App-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: var(--main-width);
    margin-left: 1rem;
    margin-right: 1rem;
}