@media screen {
    @media (min-width: 375px) and (max-width: 768px) {
        :root {
            --container-padding: 1rem;
            --container-margin: 1rem;
            --container-width: 100%;
            --container-height: 70px;

            --content-padding: 0.3rem;
            --content-margin: 0.5rem;
            --content-width: 70%;
            
            --icon-size: 30px;
            --icon-padding: 10px;
            --icon-margin: 0.8rem;

            --title-font-size: 0.9rem;
            --href-font-size: 0.7rem;
            --href-width: 160px;
            --href-max-width: 160px;
        }
    }

    @media (min-width: 769px) and (max-width: 1520px)
    {
        :root {
            --container-padding: 1rem;
            --container-margin: 1rem;
            --container-width: 70%;
            --container-height: 70px;

            --content-padding: 0.3rem;
            --content-margin: 0.5rem;
            --content-width: 80%;
            
            --icon-size: 50px;
            --icon-padding: 10px;
            --icon-margin: 0.8rem;

            --title-font-size: 1.1rem;
            --href-font-size: 1rem;
            --href-width: 250px;
            --href-max-width: 80%;
        }
    }

    @media (min-width: 1521px) and (max-width: 1920px)
    {
        :root {
            --container-padding: 1rem;
            --container-margin: 1rem;
            --container-width: 100%;
            --container-height: 90px;

            --content-padding: 0.3rem;
            --content-margin: 0.5rem;
            --content-width: 80%;
            
            --icon-size: 50px;
            --icon-padding: 10px;
            --icon-margin: 0.8rem;

            --title-font-size: 1.2rem;
            --href-font-size: 1rem;
            --href-width: 400px;
            --href-max-width: 80%;
        }
    }

    @media (min-width: 1921px)
    {
        :root {
            --container-padding: 1rem;
            --container-margin: 1rem;
            --container-width: 40%;
            --container-height: 90px;

            --content-padding: 0.3rem;
            --content-margin: 0.5rem;
            --content-width: 80%;
            
            --icon-size: 50px;
            --icon-padding: 10px;
            --icon-margin: 0.8rem;

            --title-font-size: 1.3rem;
            --href-font-size: 0.8rem;
            --href-width: 400px;
            --href-max-width: 80%;
        }
    }
}

.Link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bgSecondary);
    border-radius: 0.25rem;
    padding: var(--container-padding);
    margin-bottom: 0.5rem;
    height: var(--container-height);
    width: 100%;
}

.Link:first-child{
    margin-top: var(--container-margin);
}


.Link-icon {
    padding: var(--icon-padding);
    margin-right: var(--icon-margin);
    background-color: var(--bgPrimary);
    width: var(--icon-size);
    height: var(--icon-size);
}

.Link-content {
    width: var(--content-width);
    height: var(--content-height);
}
.Link-title {
    font-size: var(--title-font-size);
    color: var(--fgPrimary);
    margin-bottom: 0;
    padding-bottom: 0;
}
.Link-href {
    display: block;
    font-size: var(--href-font-size);
    color: var(--fgSecondary);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: var(--href-width);
    max-width: var(--href-max-width);
}

.Link-cta {
    display: flex;
}

